@{
    ViewBag.Title = "DutyAdminTable";
    Layout = "~/Areas/Default/Views/Shared/_Layout.cshtml";
 
}
 
            <form action="null" method="post">
                <table border="1" id="celebs">
                    <thead>
                        <tr>
                            <th>П.І.П</th>
                            <th>Посада</th>
                             @for (int day = 1; day <= System.DateTime.DaysInMonth(System.DateTime.Now.Year, System.DateTime.Now.Month); day++)
                            {
                                <th>@day</th>
                            }
                            <th>Відпр</th>
                            <th>Підпис</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Павлів Андрій Володимирович</td>
                            <td>Фельшер</td>
                            @for (int day = 1; day <= System.DateTime.DaysInMonth(System.DateTime.Now.Year, System.DateTime.Now.Month); day++)
                            {
                                <td>д</td>
                            }
                            <td>Joh</td>
                            <td>John</td>
                        </tr>   
                        <tr>
                            <td>Павлів Андрій Володимирович</td>
                            <td>Фельшер</td>
                            @for (int day = 1; day <= System.DateTime.DaysInMonth(System.DateTime.Now.Year, System.DateTime.Now.Month); day++)
                            {
                                <td>д</td>
                            }
                            <td>Joh</td>
                            <td>John</td>
                        </tr>   
                        <tr>
                            <td>Павлів Андрій Володимирович</td>
                            <td>Фельшер</td>
                            @for (int day = 1; day <= System.DateTime.DaysInMonth(System.DateTime.Now.Year, System.DateTime.Now.Month); day++)
                            {
                                <td>д</td>
                            }
                            <td>Joh</td>
                            <td>John</td>
                        </tr>   
                        <tr>
                            <td>Павлів Андрій Володимирович</td>
                            <td>Фельшер</td>
                            @for (int day = 1; day <= System.DateTime.DaysInMonth(System.DateTime.Now.Year, System.DateTime.Now.Month); day++)
                            {
                                <td>д</td>
                            }
                            <td>Joh</td>
                            <td>John</td>
                        </tr>   
                        <tr>
                            <td>Павлів Андрій Володимирович</td>
                            <td>Фельшер</td>
                            @for (int day = 1; day <= System.DateTime.DaysInMonth(System.DateTime.Now.Year, System.DateTime.Now.Month); day++)
                            {
                                <td>д</td>
                            }
                            <td>Joh</td>
                            <td>John</td>
                        </tr>                     
                    </tbody>
                </table>
            </form>
   