@{
    ViewBag.Title = "DutyTable";
    Layout = "~/Areas/Default/Views/Shared/_Layout.cshtml";
}

<h2>DutyTable</h2>

<p>

    <table border="1">
        <thead>
            <tr>
                <th>П.І.П</th>
                <th>Посада</th>
                @for (int day = 1; day <= System.DateTime.DaysInMonth(System.DateTime.Now.Year, System.DateTime.Now.Month); day++)
                {
                    <th>@day</th>
                }
                <th>Відпр</th>
                <th>Підпис</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>Павлів Андрій Володимирович</th>
                <th>Фельшер</th>
                @for (int day = 1; day <= System.DateTime.DaysInMonth(System.DateTime.Now.Year, System.DateTime.Now.Month); day++)
                {
                    <td>д</td>
                }
                <th>Joh</th>
                <th>John</th>
            </tr>
            </tbody>
    </table>





</p>