@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index Page</h2>

<p>
    <div class="menu">
        <a href="@Url.Action("Index", "Role")">Роли</a>
        @Html.ActionLink("Пользователи", "Index", "User")
    </div>
</p>


