@model HospitalMvcApplication.Model.User

@if (Model != null)
{
    <li>@Model.Email</li>
    <li>@Html.ActionLink("Вихід", "Logout", "Login")</li>
}
else
{
    <li>@Html.ActionLink("Вхід", "Index", "Login")</li>
    <li>@Html.ActionLink("Реєстрація", "Register", "User")</li>
}