@model HospitalMvcApplication.Models.ViewModels.LoginView
@{
    ViewBag.Title = "Вхід";
    Layout = "~/Areas/Default/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Index", "Login", FormMethod.Post, new { @class = "submit" }))
{
    
    <div id="login-form">
        <p>АВТОРИЗАЦИЯ</p>
        <fieldset>
      
           

                @Html.TextBox("Email", Model.Email, new { @class = "password" })
                @Html.ValidationMessage("Email")




                @Html.Password("Password", Model.Password, new { @class = "password" })
                @Html.ValidationMessage("Password")


                
                <input type="submit" value="Увійти" />
                   
               
           
        </fieldset>
    </div>
    
}