/* Главні визначення стилів для сайту 
    - основний шрифт
    - міжрядковий інтервал
    - розмір шрифту
    - основні кольори посилань і тексту
    - h1, h2, h3 ...
    - a 
    - p
*/



/* Додаткові класи:
    - .error
    - .field-validation-error и др.
    - .show-me { border : 1px solid red; }
    - .hidden {display : none; }
    - .relative { position : relative; }
    */
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

.select-day
{
    width : 50px;
}
.select-month
{
    width : 90px;
}
.select-year
{
    width : 70px;
}
/* Основні допоміжні вікна і стилі
    - .popup-window 
    - .popup-window .close 
    - .popup-window .wrapper
    - .popup-window .header 
    - .error-message
    - .info-message
    */

/* Основні стилі сайту
    - header
    - .logo
    - .user-login
    - nav.main-menu
    - .main-content
    - footer
*/

/* Головна сторінка */

/* Сторінка входу */

/* Сторінка помилки */

/* Інші сторінки */