<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="HospitalMvcApplication.Model.Properties.Settings.hospital_dbConnectionString"
            connectionString="Data Source=HAWX-NOTEPC\SQLEXPRESS;Initial Catalog=hospital-db;Integrated Security=True;Pooling=False"
            providerName="System.Data.SqlClient" />
        <add name="HospitalMvcApplication.Model.Properties.Settings.hospital_dbConnectionString1"
            connectionString="Data Source=ANDREY-PC\SQLEXPRESS;Initial Catalog=hospital-db;Integrated Security=True;Pooling=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>